body{
    font-family: 'Source Sans Pro', sans-serif;
}

.toast-message {
    background:  #00875A;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 34vw;
    padding: 12px;
}
